%index{
    font-family: manrope;
    text-align: center;
    padding: 20px 20px 20px 10px
}

%index-textos{
    font-family: manrope;
    font-weight: bold;
    text-align: justify;
    padding: 20px 70px 60px 80px;
}

%conen{
    font-family: manrope;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0cm;
}

%envios-textos{
    text-align: justify;
    font-family: manrope;
    padding: 20px 70px 30px 80px;
    margin-bottom: 0cm;
}